n8n/workflows/market-briefing-pipeline.json
{
  "name": "Market Briefing - Full Pipeline",
  "nodes": [
    {
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "parameters": {}
    },
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 55
            },
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 5
            }
          ]
        }
      }
    },
    {
      "id": "rss-kontan",
      "name": "Fetch Kontan",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [500, 200],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://investasi.kontan.co.id/rss/berita/pasar-modal",
        "options": {}
      }
    },
    {
      "id": "rss-bisnis",
      "name": "Fetch Bisnis",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [500, 400],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://market.bisnis.com/rss",
        "options": {}
      }
    },
    {
      "id": "rss-detik",
      "name": "Fetch Detik",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [500, 600],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      }
    },
    {
      "id": "rss-reuters",
      "name": "Fetch Reuters",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [500, 800],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://feeds.reuters.com/reuters/INbusinessNews",
        "options": {}
      }
    },
    {
      "id": "merge-a",
      "name": "Merge Group A",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [750, 300],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "merge-b",
      "name": "Merge Group B",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [750, 700],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "merge-all",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1000, 500],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "dedup-filter",
      "name": "Deduplicate & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Deduplicate by link/URL and filter to last 24 hours\nconst items = $input.all();\nconst seen = new Set();\nconst now = new Date();\nconst cutoff = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\nconst unique = [];\nfor (const item of items) {\n  const link = item.json.link || item.json.guid || '';\n  if (!link || seen.has(link)) continue;\n  seen.add(link);\n  \n  const pubDate = item.json.pubDate || item.json.isoDate || '';\n  if (pubDate) {\n    const d = new Date(pubDate);\n    if (d < cutoff) continue;\n  }\n  \n  unique.push({\n    json: {\n      title: item.json.title || 'No title',\n      link: link,\n      pubDate: pubDate,\n      content: item.json.contentSnippet || item.json.content || item.json.description || '',\n      source: item.json.creator || item.json['dc:creator'] || 'Unknown',\n      category: item.json.categories ? item.json.categories[0] : 'general'\n    }\n  });\n}\n\nif (unique.length === 0) {\n  return [{ json: { title: 'No recent news found', link: '', pubDate: new Date().toISOString(), content: '', source: 'system', category: 'none' } }];\n}\n\nreturn unique;"
      }
    },
    {
      "id": "rank-sort",
      "name": "Score & Rank",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Score articles by category relevance and sort\nconst items = $input.all();\n\nconst categoryScore = {\n  'market': 10,\n  'pasar-modal': 10,\n  'saham': 9,\n  'economy': 7,\n  'monetary': 7,\n  'exchange': 6,\n  'global': 5,\n  'general': 3,\n  'none': 0\n};\n\nconst scored = items.map(item => {\n  const cat = (item.json.category || 'general').toLowerCase();\n  let score = categoryScore[cat] || 3;\n  \n  const pubDate = item.json.pubDate ? new Date(item.json.pubDate) : new Date(0);\n  const hoursAgo = (Date.now() - pubDate.getTime()) / (1000 * 60 * 60);\n  if (hoursAgo < 2) score += 3;\n  else if (hoursAgo < 6) score += 1;\n  \n  return { json: { ...item.json, score } };\n});\n\nscored.sort((a, b) => b.json.score - a.json.score);\nreturn scored.slice(0, 10);"
      }
    },
    {
      "id": "format-msg",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 500],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build Telegram-ready Markdown message\nconst items = $input.all();\nconst now = new Date();\n\nconst wibOffset = 7 * 60 * 60 * 1000;\nconst wibDate = new Date(now.getTime() + wibOffset);\nconst hours = wibDate.getUTCHours();\nconst edition = hours < 12 ? 'Morning Edition' : 'Afternoon Edition';\n\nconst months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst dateStr = `${wibDate.getUTCDate()} ${months[wibDate.getUTCMonth()]} ${wibDate.getUTCFullYear()}`;\nconst timeStr = `${String(wibDate.getUTCHours()).padStart(2,'0')}:${String(wibDate.getUTCMinutes()).padStart(2,'0')} WIB`;\n\nlet msg = `📈 *IDN Market Briefing — ${edition}*\\n`;\nmsg += `🕘 ${dateStr} | ${timeStr}\\n\\n`;\nmsg += `*Top News:*\\n`;\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  if (item.title === 'No recent news found') {\n    msg += `_No recent market news available._\\n`;\n    break;\n  }\n  const source = item.source !== 'Unknown' ? ` — ${item.source}` : '';\n  msg += `${i+1}. [${item.title}](${item.link})${source}\\n`;\n}\n\nmsg += `\\n---\\n_Powered by IDN-StockNews_`;\n\nreturn [{\n  json: {\n    text: msg,\n    parse_mode: 'Markdown',\n    article_count: items.length,\n    edition: edition,\n    generated_at: now.toISOString()\n  }\n}];"
      }
    },
    {
      "id": "telegram-send",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2050, 500],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Fetch Kontan", "type": "main", "index": 0 },
          { "node": "Fetch Bisnis", "type": "main", "index": 0 },
          { "node": "Fetch Detik", "type": "main", "index": 0 },
          { "node": "Fetch Reuters", "type": "main", "index": 0 }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Fetch Kontan", "type": "main", "index": 0 },
          { "node": "Fetch Bisnis", "type": "main", "index": 0 },
          { "node": "Fetch Detik", "type": "main", "index": 0 },
          { "node": "Fetch Reuters", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Kontan": {
      "main": [[ { "node": "Merge Group A", "type": "main", "index": 0 } ]]
    },
    "Fetch Bisnis": {
      "main": [[ { "node": "Merge Group A", "type": "main", "index": 1 } ]]
    },
    "Fetch Detik": {
      "main": [[ { "node": "Merge Group B", "type": "main", "index": 0 } ]]
    },
    "Fetch Reuters": {
      "main": [[ { "node": "Merge Group B", "type": "main", "index": 1 } ]]
    },
    "Merge Group A": {
      "main": [[ { "node": "Merge All Feeds", "type": "main", "index": 0 } ]]
    },
    "Merge Group B": {
      "main": [[ { "node": "Merge All Feeds", "type": "main", "index": 1 } ]]
    },
    "Merge All Feeds": {
      "main": [[ { "node": "Deduplicate & Filter", "type": "main", "index": 0 } ]]
    },
    "Deduplicate & Filter": {
      "main": [[ { "node": "Score & Rank", "type": "main", "index": 0 } ]]
    },
    "Score & Rank": {
      "main": [[ { "node": "Format Telegram Message", "type": "main", "index": 0 } ]]
    },
    "Format Telegram Message": {
      "main": [[ { "node": "Send to Telegram", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Asia/Jakarta"
  }
}
